@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.site-wraper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
    margin-top: 3.75rem;
    color: #777;
}

body {
    margin: 0;
    font-family: "Lato", Sans-Serif;
    background-color: #fcfcfc;
}

h3 {
    color: black;
    letter-spacing: 0.75rem;
    text-align: center;
}

hr {
    margin: 1rem;
}

li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none;
}

.parent {
    top: 0;
    left: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    background-color: #242424;
    font-size: 1rem;
    max-height: 2.75rem;
    overflow: hidden;
}

.logo {
    cursor: pointer;
    max-height: 3rem;
}

#hamburger {
    display: none;
}

.hamburgerBtn {
    padding-top: 0.5rem;
    display: none;
    cursor: pointer;
    color: lightgrey;
}

.flag {
    cursor: pointer;
    max-height: 1.2rem;
} 

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    text-align: center;
    padding: 0.5rem;
    flex: auto;
}

.nav-links li a {
    transition: all 0.3s ease 0;
}

.nav-links li a:hover {
    color: #0088a9;
}

.active {
    display: block !important;
    opacity: 1;
    animation: fade 1s;
    
}

.section-links {
    display: none;
}

.section-links span {
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    font-family: 'Merienda';
    font-size: 0.7rem;
}

.section-links a {
    color: black;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer li {
    display: inline-block;
}

.footer li a {
    color: #0a0a0a;
}

section div {
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*portofolio v1.4 */
.container_portofolio {
    columns: 3 400px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

.item {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    transition: all .25s ease-in-out;
}

.item a img {
    width: 100%;
   
}

/* carrousel v1.4 */
.carrousel {
    margin-top: -3.75rem;
}
.carrousel img {
    display: block;
    max-height: 91vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    padding: 1rem;
    flex-basis: 100%;
}

.box-text-content {
    padding: 1rem;
    flex-basis: 60%;
}

.box p {
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: justify;
}

.box2 {
    padding: 1rem;
    flex-basis: 33%;
}

.box2 ul {
    padding-left: 3rem;
}

.box2 li {
    color: #0a0a0a;
    list-style-type: none;
    display: inline-block;
    padding: 0.2rem;
    font-size: 0.9rem;
}

.box2 li a {
    color: #0a0a0a;
    padding-left: 0.2rem;
    font-size: 1.5rem;
}

.box2 input {
    margin: 0.12rem 0rem;
    padding: 0.25rem;
    width: 12rem;
}

.box2 textarea {
    margin: 0.12rem 0rem;
    width: 24.3rem;
    height: 15rem;
    resize: none;
    padding: 0.25rem;
}

button {
    /*align-items: flex-end;*/
    border: none;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0.65rem 0.8rem;
    background-color: #0a0a0a;
    color: #fcfcfc;
    margin-left: 20.2rem;
}

.form_error ul li{
    margin-left: -3rem;
    color: red;
}

.alert {
    border-style: solid;
}

.alert-success {
    background-color: lightgreen;
    border-width: 1px;
    border-color: green;
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: -1.3rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .box p {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .section-links {
        display: flex;
        justify-content: center;
        background-color: lightgrey;
        opacity: 75%;
    }
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        max-height: fit-content;
    }

    .logo {
        max-height: 2.2rem;
        position: relative;
        bottom: 0rem;
    }

    .hamburgerBtn {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        display: none;
        -webkit-transition: opacity 600ms, visibility 600ms;
        transition: opacity 600ms, visibility 600ms;
    }

    .nav-links li {
        text-align: center;
    }

    .carrousel img {
        max-height: 87vh;
    }

    .row {
        padding: 0.1rem 0.1rem;
    }

    .box2 input {
        width: 20rem;
    }

    .box2 textarea {
        width: 20rem;
    }

    button{
    margin-left: 0rem;
    }

    .alert-success {
        margin-bottom: -0.5rem;
        margin-top: 0.4rem;
    }
}




