<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Versió</b> Alfa 1.0
    </div>
    <strong>Copyright &copy; 2019 <a href="http://www.side-automatizacion.com/es/index.htm">SIDE</a>.</strong>
</footer>