{% extends 'front/base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="box">
            {% set locale = app.request.locale %}

            {% if locale == 'en' %}
                {{ aboutMePage.textEn|raw }}
            {% endif %}
            {% if locale == 'ca' %}
                {{ aboutMePage.textCa|raw }}
            {% endif %}
            {% if locale == 'es' %}
                {{ aboutMePage.textEs|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}