<div class="footer">
    <p>Copyright 2020 © <strong>Ernest Riccetto</strong></p>
    <ul >
        <li><a href="https://www.facebook.com/EstudiosClaw"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/erethilclaw/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.flickr.com/photos/sr_claw/"><i class="fab fa-flickr"></i></a></li>
    </ul>
</div>