<div class="footer">
    <p>Copyright 2019 © <strong>Ernest Riccetto</strong></p>
    <ul class="nav-links">
        <li><a href="#">FollowAndrew.dev</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Sign Up</a></li>
    </ul>
</div>