{% extends 'front/base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="box-text-content">
            {% for article in articles %}
                <img src="{{ uploaded_asset(article.imagePath) }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}