{% extends 'front/base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="box-text-content">
            {% for article in articles %}
                <a href="{{ uploaded_asset(article.imagePath) }}" target="_blank">
                    <img src="{{ uploaded_asset(article.imagePath)|imagine_filter('squared_thumbnail_small') }}">
                </a>    
            {% endfor %}
        </div>
    </div>
{% endblock %}